[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "doc-repo"]
	path = content/posts/raw
	url = git@github.com:September007/doc
[submodule "themes/doks"]
	path = themes/doks
	url = https://github.com/h-enk/doks.git
	branch = v0.4.2
